gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
# Plaintext ANDROID_* secrets written by tools/generate-keystore.sh.
# Paste the values into GitHub Secrets, then delete this file.
keystore-details.txt
